<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>46279018872-fvp0jq7jlhbtol9q72euf162lh3o6gr2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.46279018872-fvp0jq7jlhbtol9q72euf162lh3o6gr2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>46279018872-hrki0ade3ribj413uunvjgv22qspg6mn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBS4kct_W3qxV8g_OVyoHzOlQWy8u8avxw</string>
	<key>GCM_SENDER_ID</key>
	<string>46279018872</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>room-for-you-87832</string>
	<key>STORAGE_BUCKET</key>
	<string>room-for-you-87832.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:46279018872:ios:51ba44bd3f08801c30e08d</string>
</dict>
</plist>